<% unless feature?(:alternate_cabinet) %>
  
  <%= show_shelves(@cabinet) %>

<% else %>
  <div class='alternate-cabinet'>

  <% @cabinet.medicines.each do |medicine| %>
    <div class="shelf-wrapper clickable-pill-container <%= 'active' if @primary_medicine.name == medicine.name%>" pill-name-text='<%= medicine.name %>'>
      <div class="shelf">
        <div class='row medicine-bottle'>
          <div class='col-span-1 pill-image-row'>
            <%= pill_image(medicine.name, class: 'pill-image') %> 
          </div>
          <div class='col-span-8 medicine-name'>
            <div><%= medicine.name %> </div>
            <div class='pill-badge visible-mobile num-pill-interactions'>
              <%= "#{medicine.interaction_count} interactions" %>
            </div>
          </div>
          <div class='col-span-3 medicine-tray hidden-mobile'>
            <% medicine.interactions.each do |interaction| %>
              <%= pill_interaction_image(interaction.name.to_s, interaction.name == @primary_medicine.name) %>
            <% end %>
          </div>
        </div> 
        
        <i class="fa fa-times pill-delete hidden-mobile" data-set-id="<%= medicine.id %>"></i>     
        <div class="pill-next visible-mobile">
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
      <div class="border-overlay hidden-mobile">&nbsp;</div>
    </div>
  <% end %>
  </div>
<% end %>