<% unless feature?(:alternate_cabinet) %>
  <%= show_shelves(@cabinet, @primary_medicine, @interactions) %>
<% else %>
  <% @cabinet.medicines.each do |medicine| %>
    <div class="shelf-wrapper clickable-pill-container" pill-name-text='<%= medicine.name %>'>
      <div class="shelf">
        <div class='medicine-bottle' style='margin: 0 30px;'>
          <div class='col-span-9'>
            <%= pill_image(medicine.name, height: '45px') %> 
            <span style='margin-left: 5px; font-size: 60px; font-weight: bold; color: #005573'>
              <%=medicine.name %>
            </span>
          </div>
          <div class='col-span-3 medicine-tray'>
          <% (@interactions[medicine_key(medicine)] || {}).each do |key, value| %>
            <%= pill_interaction_image(key.to_s, medicine == @primary_medicine) %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="border-overlay hidden-mobile">&nbsp;</div>
    </div>
  <% end %>
<% end %>