<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<head>
  <title>Open Cabinet</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class='mobile-menu-push'>

  <div class='nav row'>
    <div class='col-span-10 logo'>
      <%= image_tag('logo.png') %><a href='/'><span class='primary-font bold'>PEN</span><span class='primary-font bold green'>CABINET</span></a>
    </div>

    <div class='col-span-2 t-right links'>
      <div class='hidden-mobile'>
        <%= render :partial => 'shared/authentication' %>
      </div>

      <div class='mobile-menu visible-mobile'>
        <button class='x lines-button' title='open all sections'><span class='lines'></span></button>
      </div>

      <div class='mobile-side-menu'>
        <p>links</p>
      </div>

    </div>
  </div>

  <div class='main-content'>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>


  <div class='footer'>
    &nbsp;
    <div class='tablet-view visible-tablet'><!-- --></div>
    <div class='tablet-and-down-view visible-tablet-and-down'><!-- --></div>
  </div>

</body>
<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64442246-1', 'auto');
  ga('send', 'pageview');
</script>
<% end %>
<script type=”text/javascript”>
  window.onbeforeunload = function (){
    $.ajax({
      url: '<%=session_clear_url%>',
      type: “POST”,
      data: {},
      contentType: “application/json; charset=utf-8″,
      dataType: “json”
    });

  };
</script>
</html>
