<!DOCTYPE html>
<html>
<head>
  <title>Open Cabinet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='nav'>
    <div class='wrapper'>

      <div class='col-span-10 logo'>
        <span class='primary-font bold'>OPEN</span><span class='primary-font light'>CABINET</span>
      </div>

      <div class='col-span-2 t-right'>
        <%= render :partial => 'shared/authentication' %>
      </div>
    </div>
  </div>

  <%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
